/* .col {
  border: 1px solid white;
} */
.header{
  color: aliceblue;
}

/*
  CSS for Form Login
*/
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.status:hover {
  cursor: pointer;
}
/*
  End CSS for Form Login
*/

/*
  CSS for Calendar
*/
.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}
.mycalendar {
  width: 30%;
}
/*
   End CSS for Calendar
*/

/*
  CSS for list comment
*/
.listcomment {
  
}
/*
   End CSS for list comment
*/
.my-btn {
  margin-right: 15px;
}
.mybody {
 margin-left: 10px;
margin-top: 10px;
}

.rowClassName-table-row {
  color:red;
}